<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <form (ngSubmit)="loginUser()" #loginForm="ngForm">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        <div *ngIf="errorMessage" class="error-message">Invalid email or password</div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  