.register-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    color:black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  
  input.ng-invalid.ng-touched,
  input.is-invalid {
    border: 1px solid #dc3545;
    background-color: #fff0f0;

  }
  
  input.ng-valid.ng-touched {
    border: 1px solid #28a745;
  }
  
  button {
    font-size: 16px;
  }
  .is-invalid {
    border-color: #dc3545;
  }
  
  .invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
  }
  